/* start: global styles */
img {
  border: none;
}

ul,ol {
  list-style-type: none;
}

fieldset {
  border: none;
}

#loading {
  position: fixed;
  top: 10px;
  right: 20px;
}

.hidden {
  display: none;
}

.clear {
  clear: both;  
}

/* end: global styles */ 

/* start: message styles */

#alert_messages {
  display: none;  
}
.m-alertbox {
  border: 1px solid red;
  margin: 8px 0px 14px 0px;
  padding: 5px 0px 5px 10px;
  display: none;
}

.error_label {
  color: red;
}

.m-hidden {
  display: none;  
}

.m-file-error {
  padding: 5px 5px 5px 30px;
  background-image: url(../img/error.png);
  background-repeat: no-repeat;
}

.m-file-uploading {}
.m-file-progressbar {}

/* end: message styles */ 

